.customCssSettings {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.stylesheet-editor {
    flex-grow: 1;
    margin-bottom: 8px;
    overflow: hidden;
}
.stylesheet-editor .CodeMirror {
    height: 100%;
}
.stylesheet {
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}