<form autocomplete="off" onsubmit="event.preventDefault()">
    {{#each rules}}
    <div class="form-group">
        <label>Rule {{this.index}}</label>
        <input name="rule{{this.index}}" type="text" value="{{this.value}}" />
    </div>
    {{/each}}

    <div style="display: flex; padding-top: 10px;">
        <button type="submit" name="remove" value="remove" style="width: 50%;" {{#if cantRemove}}disabled{{/if}}>
            <i class="fas fa-minus"></i> Remove Row
        </button>
        <button type="submit" name="add" value="add" style="width: 50%;">
            <i class="fas fa-plus"></i> Add Row
        </button>
    </div>

    <button type="submit" name="submit">
        <i class="fas fa-save"></i> Save
    </button>
</form>
